Mini Project - Web Services - Client SOAP/Mini Project - Web Services - Client/Connected Services/SmoothieService/webservice1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fruits">
        <s:complexType />
      </s:element>
      <s:element name="fruitsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fruitsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="canMake">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fruit1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fruit2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iceOrNot" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="canMakeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="canMakeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="explore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fruit1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fruit2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="exploreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="exploreResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRecipie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRecipieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRecipieResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="fruitsSoapIn">
    <wsdl:part name="parameters" element="tns:fruits" />
  </wsdl:message>
  <wsdl:message name="fruitsSoapOut">
    <wsdl:part name="parameters" element="tns:fruitsResponse" />
  </wsdl:message>
  <wsdl:message name="canMakeSoapIn">
    <wsdl:part name="parameters" element="tns:canMake" />
  </wsdl:message>
  <wsdl:message name="canMakeSoapOut">
    <wsdl:part name="parameters" element="tns:canMakeResponse" />
  </wsdl:message>
  <wsdl:message name="exploreSoapIn">
    <wsdl:part name="parameters" element="tns:explore" />
  </wsdl:message>
  <wsdl:message name="exploreSoapOut">
    <wsdl:part name="parameters" element="tns:exploreResponse" />
  </wsdl:message>
  <wsdl:message name="getRecipieSoapIn">
    <wsdl:part name="parameters" element="tns:getRecipie" />
  </wsdl:message>
  <wsdl:message name="getRecipieSoapOut">
    <wsdl:part name="parameters" element="tns:getRecipieResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fruits">
      <wsdl:input message="tns:fruitsSoapIn" />
      <wsdl:output message="tns:fruitsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="canMake">
      <wsdl:input message="tns:canMakeSoapIn" />
      <wsdl:output message="tns:canMakeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="explore">
      <wsdl:input message="tns:exploreSoapIn" />
      <wsdl:output message="tns:exploreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRecipie">
      <wsdl:input message="tns:getRecipieSoapIn" />
      <wsdl:output message="tns:getRecipieSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fruits">
      <soap:operation soapAction="http://tempuri.org/fruits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="canMake">
      <soap:operation soapAction="http://tempuri.org/canMake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="explore">
      <soap:operation soapAction="http://tempuri.org/explore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecipie">
      <soap:operation soapAction="http://tempuri.org/getRecipie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fruits">
      <soap12:operation soapAction="http://tempuri.org/fruits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="canMake">
      <soap12:operation soapAction="http://tempuri.org/canMake" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="explore">
      <soap12:operation soapAction="http://tempuri.org/explore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecipie">
      <soap12:operation soapAction="http://tempuri.org/getRecipie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://miniproject-webservices-soap20190924040330.azurewebsites.net/webservice1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://miniproject-webservices-soap20190924040330.azurewebsites.net/webservice1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>